.report-list-component {
  height: 100%;
  .report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    line-height: 86px;
    color: #333333;
    background-color: #FFF;
    .select-cancel {
      padding-left: 30px;
      font-size: 40px;
    }
    .center-container {
      display: flex;
      align-items: center;
      .head-title {
        font-size: 36px;
        font-weight: 500;
      }
      .switch-icon {
        font-size: 40px;
      }
      .down {
        &::before {
          display: inline-block;
          transform: rotate(90deg);
        }
      }
      .up {
        &::before {
          display: inline-block;
          transform: rotate(270deg);
        }
      }
    }
    .search-icon {
      font-size: 33px;
    }
  }
  .report-container {
    height: calc(100% - 86px);
    overflow-y: auto;
    padding: 16px 0 16px 0;
    .list-items {
      background-color: #F5F5F5;
      .card-item {
        display: block;
        height: 188px;
        padding: 0 0px 30px 0px;
        background-color: white;

        .card-left {
          display: inline-block;
          width: 110px;
          padding: 30px 20px 0px 0px;
          text-align: right;
          vertical-align: top;
          .leg-img {
            display: inline-block;
            width: 60px;
            height: 60px;
            background-position: center center;
            background-size: 60px 60px;
            background-image: url(./images/normal_head@2x.png);
          }
        }

        .card-right {
          display: inline-block;
          width: 640px;
          padding-right: 30px;
          border-bottom: 1px solid #e6e6e6;
          font-size: 26px;
          .info {
            padding: 30px 0px 24px 0px;
            font-size: 26px;
            color: #333333;
            line-height: 26px;
            font-weight: 400;
            .info-operation {
              color: #999999;
              margin-left: 20px;
            }
            .info-time {
              font-size: 24px;
              color: #BDBDBD;
              float: right;
            }
            .red-dot {
              display: inline-block;
              width: 12px;
              height: 12px;
              margin-left: 10px;
              border-radius: 50%;
              vertical-align: 2px;
              background: #D24545;
            }
            .hide {
              display: none;
            }
            .show {
              display: inline-block;
            }
          }
          .main {
            padding-bottom: 24px;
            color: #333333;
            font-size: 30px;
            .reportType {
              margin-right: 10px;
            }
          }
          .address {
            padding-bottom: 30px;
            color: #333333;
            font-size: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .select-list-page {
    background:rgba(255,255,255,0.8);
    .select-item {
      color: #333333;
      font-size: 32px;
      font-weight: 400;
      text-align: center;
      height: 90px;
      line-height: 90px;
      .item-icon {
        display: none;
      }
    }
    .selected {
      background-color: #FFF;
      font-weight: 500;
      .item-icon {
        position: absolute;
        right: 0px;
        margin-top: 23px;
        display: inline-block;
        font-size: 37px;
        height: 37px;
        line-height: 37px;
        color: #108EE9;
        margin-right: 30px;
      }
    }
  }
  .icon-add-chance {
    position: fixed;
    right: 32px;
    bottom: 32px;
    background-image: url(./images/icon-add-normal@2x.png);
    background-size: 116px;
    width: 116px;
    height: 116px;
    &:active {
      background-image: url(./images/icon-add-active@2x.png);
    }
  }
}
