
.executive-detail-component {
  height: calc(100% - 88px);
  overflow-y: auto;
  background-color: #F5F5F5;
  padding: 16px 0;
  .item-right {
    position: relative;
    font-size: 28px;
    color: #333333;
    text-align: right;
  }
  .remark-item {
    background: #FFF;
    padding: 30px;
    min-height: 200px;
    margin-top: 16px;
    line-height: 28px;
    .remart-content {
      font-size: 28px;
      color: #333333;
    }
  }
}
