.msg-list-component {
  height: 100%;
  .msg-list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    height: 86px;
    line-height: 86px;
    width: 100%;
    font-weight: 400;
    border-bottom: 1px solid #E6E6E6; /*no*/
    .list-cancel {
      padding-left: 30px;
      font-size: 40px;
    }
    .list-title {
      font-size: 36px;
      color: #333333;
      font-weight: 500;
    }
    .list-confirm {
      color: #D40001;
      font-size: 32px;
      padding-right: 30px;
    }
  }
  .msg-list-tabs {
    position: relative;
    background-color: #fff;
    .msg-list-tabs-scroll {
      display: flex;
      align-items: center;
      overflow-x: scroll;
      width: 720px;
      height: 80px;
      .option {
        flex-shrink: 0;
        width: 152px;
        height: 58px;
        margin-left: 30px;
        text-align: center;
        line-height: 58px;
        font-size: 26px;
        color: #666;
        &.selected {
          background: #D40001;
          border-radius: 29px;
          color: #fff;
        }
      }
    }
    .rect {
      position: absolute;
      top: 0;
      right: 0;
      width:30px;
      height:79px;
      box-shadow:-8px 0px 8px 0px rgba(0,0,0,0.1);
    }
  }
  .search-board {
    font-size:30px;
    font-weight:400;
    .search-icon {
      position: relative;
      display: inline-block;
      width: 0;
      top: 0;
      left: 54px;
      font-size: 30px;
      color: #BBBBBB;
    }
    .search-input {
      width:690px;
      height:56px;
      margin: 16px 30px;
      padding-left: 66px;
      border: none;
      border-radius: 28px;
      line-height: 30px;
      // text-align: center;
    }
  }
  .msg-list-container {
    padding-left: 30px;
    background: #fff;
    .list-item {
      padding: 30px 30px 30px 0;
      font-weight: 400;
      border-bottom: 1px solid #E6E6E6;
      .first-row {
        display: flex;
        justify-content: space-between;
        .title {
          max-width: 520px;
          font-size: 30px;
          color: #333;
        }
        .time {
          font-size: 24px;
          color: #BDBDBD;
        }
      }
      .second-row {
        margin: 24px 0;
        font-size: 24px;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .third-row {
        font-size: 20px;
        .from {
          color: #999;
        }
        .addr {
          color: #108EE9;
        }
      }
    }
  }
}
