.affiche-list-component {
  height: 100%;
  .affiche-list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    height: 86px;
    line-height: 86px;
    width: 100%;
    font-weight: 400;
    border-bottom: 1px solid #E6E6E6; /*no*/
    .affiche-cancel {
      padding-left: 30px;
      font-size: 40px;
    }
    .affiche-title {
      font-size: 36px;
      color: #333333;
      font-weight: 500;
    }
    .affiche-confirm {
      color: #333333;
      font-size: 33px;
      padding-right: 30px;
    }
  }
  .affiche-list-container {
    height: calc(100% - 86px);
    overflow-y: auto;
    .card-item {
      display: block;
      height: 188px;
      padding: 0 0px 30px 0px;
      background-color: white;

      .card-left {
        display: inline-block;
        width: 110px;
        padding: 30px 20px 0px 0px;
        text-align: right;
        vertical-align: top;
        .leg-img {
          display: inline-block;
          width: 60px;
          height: 60px;
          background-position: center center;
          background-size: 60px 60px;
          background-image: url(./images/normal_head@2x.png);
        }
      }

      .card-right {
        display: inline-block;
        width: 640px;
        height: 188px;
        padding-right: 30px;
        border-bottom: 1px solid #e6e6e6;
        font-size: 26px;
        .info {
          padding: 30px 0px 24px 0px;
          font-size: 24px;
          color: #333;
          .info-time {
            float: right;
          }
          .to,.to-name,.info-time{
            color: #BDBDBD
          }
          .to{
            margin: 0 15px;
          }
          .red-dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-left: 10px;
            border-radius: 50%;
            vertical-align: 2px;
            background: #D24545;
          }
          .show {
            display: inline-block;
          }
          .hide {
            display: none;
          }
        }
        .main {
          padding-bottom: 24px;
          color: #333;
          font-size: 30px;
        }
        .address {
          padding-bottom: 30px;
          color: #333;
          font-size: 24px;
          .address-info{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 30px;
          }
        }
      }
    }
  }
}


