.my-schedule-component {
  height: 100%;
  .my-schedule-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    height: 86px;
    line-height: 86px;
    width: 100%;
    font-weight: 400;
    border-bottom: 1px solid #E6E6E6; /*no*/
    .schedule-cancel {
      padding-left: 30px;
      font-size: 40px;
    }
    .schedule-title {
      font-size: 36px;
      color: #333333;
      font-weight: 500;
    }
    .schedule-confirm {
      color: #D40001;
      font-size: 32px;
      padding-right: 30px;
    }
  }
  .schedule-container {
    height: calc(100% - 88px);
    overflow-y: auto;
    background-color: #f5f5f5;
  }
  .schedule-list {
    margin-top: 16px;
    .schedule-item {
      position: relative;
      display: block;
      background: #FFF;
      padding: 26px 24px 26px 54px;
      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;
        content: '';
        background:linear-gradient(360deg,rgba(16,142,233,0.5) 0%,rgba(16,142,233,1) 100%);
        width:4px;
        height:68px;
        border-radius:2px;
        margin: auto 0;
      }
      .first-row {
        color: #333;
        .title {
          float: left;
          font-size: 30px;
        }
        .time {
          float: right;
          font-size: 24px;
        }
      }
      .second-row {
        margin-top: 12px;
        color: #999999;
        .content {
          font-size: 26px;
        }
      }
    }
    .grey {
      color: #BDBDBD;
      &::before {
        content: '';
        background: #BDBDBD;
      }
      .first-row {
        color: #BDBDBD;
      }
      .second-row {
        color: #BDBDBD;
      }
    }

  }
  .no-data-area {
    background: #FFF;
    margin: 16px 0 122px 0;
    text-align: center;
    height: 504px;
    > img {
      width: 350px;
    }
    .tips-text {
      color: #BDBDBD;
      font-size: 32px;
    }
  }
}
.icon-add-chance {
  position: fixed;
  right: 32px;
  bottom: 32px;
  background-image: url(./images/icon-add-normal@2x.png);
  background-size: 116px;
  width: 116px;
  height: 116px;
  &:active {
    background-image: url(./images/icon-add-active@2x.png);
  }
}
