.account-detail-component {
  height: calc(100% - 88px);
  overflow-y: auto;
  background-color: #f5f5f5;
  .detail-item {
    padding-left: 30px;
    height: 180px;
    margin-top: 16px;
    background: #fff;
    p {
      height: 90px;
      line-height: 90px;
      font-size: 28px;
      color: #333;
      padding-right: 30px;
      &:nth-child(1) {
        border-bottom: 1px solid #e6e6e6;
      }
    }
    .left{
      float: left;
      color: #666;
    }
    .right{
      float: right;
    }
  }
}
