.leg-detail-component {
  .leg-detail-title {
    height: 88px;
    border-bottom: 1px solid #ddd;
    padding: 0px 30px;
    background-color: white;
    font-size: 36px;
    color: #333;
    text-align: center;

    span {
      line-height: 88px;
    }

    .title-left {
      float: left;

      .icon-return {
        font-size: 30px;
      }
    }
  }

  .detail-info {
    padding: 40px 30px 30px 30px;
    margin-bottom: 16px;
    background-color: white;

    .info-top {
      border-bottom: 1px solid #e6e6e6;

      .title {
        padding-bottom: 40px;
        font-size: 34px;
        color: #333;
      }

      .sub-title {
        padding-bottom: 30px;
        font-size: 20px;
        color: #999;

        .create-name,
        .to-name {
          color: #333;
        }

        .create-time {
          float: right;
        }

        .create-name,
        .sub-info {
          padding-right: 10px;
        }
      }
    }

    .info-bottom {
      padding-top: 40px;
      font-size: 32px;
      color: #333;

      .leg-desc {
        padding-bottom: 60px;
      }

      .map {
        background: rgba(250, 250, 250, 1);
        border-radius: 8px;

        .map-img {
          display: inline-block;
          width: 80px;
          height: 80px;
          background-position: center, center;
          background-size: 80px 80px;
          background-image: url(./images/location_icon@2x.png);
        }

        .address {
          display: inline-block;
          padding: 12px 30px 12px 20px;
          vertical-align: top;

          .address-first {
            padding-bottom: 8px;
            font-size: 24px;
            color: #333
          }

          .address-detail {
            font-size: 24px;
            color: #999;
          }
        }

        .arrow-right {
          float: right;
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: 30px 20px 30px 0px;
          background-position: center, center;
          background-size: 20px 20px;
          background-image: url(./images/arrow_return@2x.png);
        }
      }
    }
  }

  .relation-customer {
    padding: 0px 0px 0px 30px;
    background-color: white;
    margin-bottom: 16px;
    font-size: 30px;
    color: #333;

    .title {
      padding: 25px 0px;
      border-bottom: 1px solid #ddd;

      .cus-img {
        display: inline-block;
        width: 32px;
        margin-right: 24px;
        font-size: 32px;
        color: rgba(18, 151, 250, 1);
      }

      .title-info {
        line-height: 30px;
      }
    }

    .main {
      padding: 36px 0px 50px 0px;

      .com-img {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-right: 20px;
        background: linear-gradient(135deg, rgba(255, 102, 103, 1) 0%, rgba(212, 0, 1, 1) 100%);
        border-radius: 50px;
        font-size: 100px;
        color: white;
        opacity: 0.8012;
      }

      .main-info {
        display: inline-block;
        vertical-align: top;

        .info-title {
          padding: 4px 0px 24px 0px;

          span {
            margin-left: 7px;
            font-size: 28px;
            color: rgba(102, 102, 102, 1);
          }
        }

        .tag {
          span {
            width: 72px;
            height: 40px;
            background: rgba(0, 118, 255, 0.1);
            padding: 8px 12px;
            margin-right: 12px;
            border-radius: 8px;
            border: 1px solid rgba(0, 118, 255, 0.5);
            font-size: 24px;

            &.tag-first {
              color: #0076FF
            }

            &.tag-sec {
              background: rgba(80, 188, 78, 0.1);
              border: 1px solid rgba(80, 188, 78, 0.5);
              color: #50BC4E
            }

            &.tag-thi {
              background: rgba(143, 119, 255, 0.1);
              border: 1px solid rgba(143, 119, 255, 0.5);
              color: #8f77f8
            }
          }
        }
      }
    }
  }


  .relation-opportunity {
    padding: 0px 0px 0px 30px;
    background-color: white;
    margin-bottom: 16px;
    font-size: 30px;
    color: #333;

    .title {
      padding: 25px 0px;
      border-bottom: 1px solid #ddd;

      .cus-img {
        display: inline-block;
        width: 32px;
        margin-right: 24px;
        font-size: 32px;
        color: #55DAA0;
      }

      .title-info {
        line-height: 30px;
      }
    }

    .main {
      padding: 36px 0px 50px 0px;

      .main-info {
        display: inline-block;
        vertical-align: top;

        .info-title {
          padding: 4px 0px 24px 0px;

          span {
            margin-left: 7px;
            font-size: 28px;
            color: rgba(102, 102, 102, 1);
          }
        }

        .tag {
          span {
            width: 72px;
            height: 40px;
            background: rgba(0, 118, 255, 0.1);
            padding: 8px 12px;
            margin-right: 12px;
            border-radius: 8px;
            border: 1px solid rgba(0, 118, 255, 0.5);
            font-size: 24px;

            &.tag-first {
              color: #0076FF
            }

            &.tag-sec {
              background: rgba(80, 188, 78, 0.1);
              border: 1px solid rgba(80, 188, 78, 0.5);
              color: #50BC4E
            }

            &.tag-thi {
              background: rgba(143, 119, 255, 0.1);
              border: 1px solid rgba(143, 119, 255, 0.5);
              color: #8f77f8
            }
          }
        }
      }
    }
  }


  .relation-scheduler {
    padding: 0px 0px 0px 30px;
    background-color: white;
    margin-bottom: 16px;
    font-size: 30px;
    color: #333;

    .title {
      padding: 25px 0px;
      border-bottom: 1px solid #ddd;

      .cus-img {
        display: inline-block;
        width: 32px;
        margin-right: 24px;
        font-size: 32px;
        color: #FD6B67;
      }

      .title-info {
        line-height: 30px;
      }
    }

    .main {
      padding: 16px 0px 30px 0px;

      .main-title {
        padding: 30px 60px 20px 30px;
        border-bottom: 1px solid #e6e6e6;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.11);
        border-radius: 24px 0px 0px 0px;
        span {
          padding-left: 10px;
          vertical-align: top;
        }

        &::before {
          content: '';
          display: inline-block;
          width: 4px;
          height: 30px;
          background: linear-gradient(360deg, rgba(16, 142, 233, 0.5) 0%, rgba(16, 142, 233, 1) 100%);
          border-radius: 2px;
        }
      }

      .main-content {
        background: rgba(0, 0, 0, 0.01);
        padding: 20px 0px 30px 30px;
        border-radius: 0px 0px 0px 24px;

        .detail-customer,
        .detail-time {
          display: inline-block;
          height: 60px;
          width: 50%;
          font-size: 26px;
          text-align: center;
          vertical-align: middle;
          &.detail-customer {
            border-right: 1px solid #E3E3E3;
            line-height: 60px;
          }
            display: block;
        }

        .content-info {
          padding: 20px 0px 30px 0px;

          .info-customer,
          .info-time {
            display: inline-block;
            width: 50%;
            font-size: 24px;
            text-align: center;
            color: #bdbdbd;
          }
        }
      }
    }
  }

  .bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 88px;
    line-height: 88px;
    font-size: 36px;
    color: #F4333C;
    background-color: white;
    text-align: center;

  }
}
