.tab-header-component {
  &.diy-tab-header {

    background: #FFF;
    .content {
      display: flex;
      flex-flow: nowrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 80px;
      padding: 0 34px;
      .center {
        display: flex;
        flex-flow: nowrap;
        height: 58px;
        line-height: 58px;
        color: #666666;
        >div {
          margin-right: 30px;
        }
        .selected {
          background:rgba(212,0,1,1);
          color: #fff !important;
          border-radius:29px;
        }
        .tab-item {
          vertical-align: top;
          display: inline-block;
          padding: 0 24px;
          font-size: 26px;
          text-align: center;
        }
      }
    }
    .right-part {
      .icon-tuichu {
        display: block;
        width: 34px;
        height: 34px;
        color: #BDBDBD;
        font-size: 34px;
      }
    }
  }
}
.diy-tab-header {

  background: #FFF;
  .content {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 34px;
    .center {
      display: flex;
      flex-flow: nowrap;
      height: 58px;
      line-height: 58px;
      color: #666666;
      .selected {
        background:rgba(212,0,1,1);
        color: #fff !important;
        border-radius:29px;
      }
      .tab-item {
        vertical-align: top;
        display: inline-block;
        padding: 0 24px;
        font-size: 26px;
        text-align: center;
      }
    }
  }
  .right-part {
    .icon-tuichu {
      display: block;
      width: 34px;
      height: 34px;
      color: #BDBDBD;
      font-size: 34px;
    }
  }
}
