
.customer-view-component {
  height: calc(100% - 88px);
  overflow-y: auto;
  background-color: #F5F5F5;
  padding: 16px 0;
  .border {
    background-color: #FFF;
    padding-left: 30px;
    margin-bottom: 16px;
    .border-item {
      display: flex;
      align-content: center;
      justify-content: space-between;
      height: 90px;
      padding-right: 30px;
      border-bottom: 1px solid #E6E6E6; /*no*/
      .item-title {
        line-height: 90px;
        font-size: 28px;
        font-weight: 400;
        color: #666666;
      }
      .item-content {
        line-height: 90px;
        font-size: 28px;
        font-weight: 400;
        color: #333333;
      }
    }
    .show {
      display: flex;
    }
    .hide {
      display: none;
    }
  }
  .business-scope {
    padding: 30px;
    font-size: 28px;
    font-weight: 400;
    color: #666666;
    .item-title {
      margin-bottom: 26px;
    }
    .item-content {
      line-height: 36px;
    }
  }
}
