
.relate-business-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  height: 100%;
  .select-business {
    height: 100%;
    .select-business-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #FFF;
      height: 86px;
      line-height: 86px;
      width: 100%;
      font-weight: 400;
      .select-cancel {
        padding-left: 30px;
        font-size: 40px;
      }
      .select-title {
        font-size: 36px;
        color: #333333;
        font-weight: 500;
      }
      .select-confirm {
        color: #D40001;
        font-size: 32px;
        padding-right: 30px;
      }
    }
    .select-business-container {
      width: 100%;
      height: calc(100% - 86px);
      overflow-y: auto;
      background-color: #F5F5F5;
      margin-bottom: 16px;
      .search-board {
        font-size:30px;
        font-weight:400;
        .attach {
          position: absolute;
          top: 115px;
          left: 54px;
          .search-icon {
            width: 30px;
            height: 30px;
            color: #BBBBBB;
            font-size: 30px;
          }
        }
        .search-input {
          width:690px;
          height:56px;
          margin: 16px 30px;
          padding-left: 66px;
          border: none;
          border-radius: 28px;
          line-height: 30px;
          text-align: left;
        }
      }
      .select-item {
        color: #666666;
        background: #FFF;
        height: 204px;
        .item-icon {

          .item-icon-normal {
            float: left;
            margin-left: 30px;
            margin-top: 80px;
            font-size: 44px;
            width: 44px;
            height: 44px;
            line-height: 44px;
            color: #CCCCCC;
          }
          .item-icon-active {
            display: none;
            float: left;
            margin-left: 30px;
            margin-top: 80px;
            font-size: 44px;
            width: 44px;
            height: 44px;
            line-height: 44px;
            color: #108EE9;;
          }
        }
        .item-right {
          float: right;
          margin-left: 20px;
          padding-right: 30px;
          height: inherit;
          width: 656px;
          border-bottom: 1px solid #E6E6E6;  /*no*/
          .item-content {
            &:before {
              display: block;
              content: '';
              border-top: 1px solid #E6E6E6;  /*no*/
              margin-bottom: 30px;
            }
            height: 204px;
            display: block;
            padding: 0 30px 30px 0;
            .title {
              color: #333333;
              font-size: 30px;
            }
            .second-row {
              display: flex;
              align-items: center;
              flex-flow: row;
              height: 74px;
              color: #999999;
              font-size: 26px;
              .gap {
                margin: 0 12px;
                color: #E3E3E3;
                font-size: 20px;
              }
            }
            .third-row {
              display: flex;
              flex-flow: row;
              >span {
                border-radius:8px;
                height:40px;
                text-align: center;
                font-weight: 400px;
                font-size: 24px;
                width: max-content;
                padding: 8px 12px;
                &.customerType {
                  background-color:rgba(0,118,255,0.1);
                  border:1px solid rgba(0,118,255,0.5); /*no*/
                  margin-right: 12px;
                  color: #0076FF;
                }
                &.customerName {
                  background:rgba(255,97,97,0.1);
                  border:1px solid rgba(255,97,97,0.5);  /*no*/
                  color: #FF6161;
                }
              }
            }
          }
        }
        &:last-child {
          border: none;
        }
        &:hover {
          .item-icon-normal {
            display: none;
          }
          .item-icon-active {
            display: inline-block;
          }
        }
      }
    }
  }
}
.show {
  display: block;
}
.hide {
  display: none;
}
