.leg-list-component {
  .leg-title {
    height: 87px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: white;
    box-shadow:0px -1px 0px 0px rgba(221,221,221,1);
    color: #333;
    font-size: 36px;
    text-align: center;
    .btn-return {
      display: inline-block;
      float: left;
      padding-left: 30px;
      line-height: 85px;
      .icon-return {
        font-size: 30px;
      }
    }
    .title {
      line-height: 88px;
    }

    .btn-search {
      float: right;
      display: inline-block;
      padding-right: 30px;
      line-height: 85px;
      .icon-sousuo {
        font-size: 30px;
      }
    }
  }

  .leg-work-select {
    height: 270px;
    border-top: 1px solid #ddd;
    background:rgba(255,255,255,0.8);
    font-size: 32px;
    text-align: center;
    color: #333;
    .select {
      font-weight: blod;
      background-color: white;
    }
    .all-list{
      position: relative;
      height: 90px;
      line-height: 90px;
      .tick-icon {
        position: absolute;
        right: 30px;
        top: 23px;
        display: inline-block;
        width: 44px;
        height: 44px;
        padding: 23px 30px 0px 0px;
        background-position: center center;
        background-size: 44px 44px;
        background-image: url(./images/Tick@2x.png);
      }
    }
  }


  .card-item {
    display: block;
    height: 188px;
    padding: 0 0px 30px 0px;
    background-color: white;

    .card-left {
      display: inline-block;
      width: 110px;
      padding: 30px 20px 0px 0px;
      text-align: right;
      vertical-align: top;
      .leg-img {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-position: center center;
        background-size: 60px 60px;
        background-image: url(./images/normal_head@2x.png);
      }
    }

    .card-right {
      display: inline-block;
      width: 640px;
      padding-right: 30px;
      border-bottom: 1px solid #e6e6e6;
      font-size: 26px;
      .info {
        padding: 30px 0px 24px 0px;
        font-size: 24px;
        color: #999;
        .info-time {
          float: right;
        }
        .red-dot {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 10px;
          border-radius: 50%;
          vertical-align: 2px;
          background: #D24545;
        }
      }
      .main {
        padding-bottom: 24px;
        color: #333;
        font-size: 30px;
      }
      .address {
        padding-bottom: 30px;
        color: #999;
        font-size: 24px;
      }
    }
  }

  .leg-list {
    .sub-title {
      border-top: 1px solid #ddd;
      background-color: white;
      .sub-select {
        position: relative;
        top: 0px;
        height: 80px;
        line-height: 80px;
        padding: 0px 30px;
        font-size: 26px;
        color: #999;
        .out-work {
          text-align: left;
        }
        .screen {
          float: right;
          color: #d40001;
          font-size: 26px;
        }
      }
      .sub-select-form {
          input {
            position: relative;
            border: 0px;
            background: none;
            font-size: 32px;
            color: #BDBDBD;
            line-height: 90px;
            text-align: right;
            outline: none;
          }
          .item-right {
            position: relative;
            font-size: 28px;
            color: #BDBDBD;
            text-align: right;
            .right-attach {
              display: inline-block;
              margin-left: 26px;
              .item-icon {
                width: 33px;
                height: 33px;
                color: #D0D0D0;
                font-size: 33px;
              }
            }
            .input {
              display: inline-block;
              border: none;
              text-align: right;
            }
            .search-input {
              display: inline-block;
              border: none;
              text-align: right;
            }
            .text, .selected {
              font-size: 28px;
              color: #333333;
              font-weight: 400px;
              font-size: 28px;
            }
          }
      }
      .btn-area {
        .btn {
          display: inline-block;
          width: 100%;
          height: 88px;
          line-height: 88px;
          font-size: 32px;
          text-align: center;
        }
        .btn-reset {
          width: 50%;
          background: #E5E5E5;
          color: #666666;
        }
        .btn-confirm {
          width: 50%;
          background:linear-gradient(135deg,rgba(240,55,55,1) 0%,rgba(212,0,1,1) 100%);
          color: #FFF;
        }
      }

    }
  }
}
